<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create user</a>

    </div>
    <table class="custom-user-tb">

        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>city</th>
            <th>action</th>
        </tr>
        <% for(let i=0; i < userLst.length; i++ ) { %>
            <tr>
                <td>
                    <%= userLst[i].id %>
                </td>
                <td>
                    <%= userLst[i].name %>
                </td>
                <td>
                    <%= userLst[i].email %>
                </td>
                <td>
                    <%= userLst[i].city %>
                </td>
                <td>
                    <a href="/edit/<%= userLst[i].id %>" class="button-makeup">edit</a>
                    <button class="button-makeup">delete</button>
                </td>
            </tr>
            <% } %>
    </table>


</body>

</html>